#badge{
    height:115rem;
    width: 100%;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    font-family: 'Hind',sans-serif;
}
.avatar-container {
    position: relative;
}
.red-badge{
    height: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
    top: 75%;
    right: 8px;
    width: 20px;
    background-color: red;
    z-index: 20;
    position: absolute;
}
.green-badge{
    height: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
    top: 75%;
    right: 8px;
    width: 20px;
    background-color: green;
    z-index: 20;
    position: absolute;
}
.orange-badge{
    height: 15px;
    border-radius: 50%;
    border: 3px solid #fff;
    top: 75%;
    right: 8px;
    width: 15px;
    background-color: orange;
    z-index: 20;
    position: absolute;
}
.blue-badge{
    height: 10px;
    border-radius: 50%;
    border: 3px solid #fff;
    top: 75%;
    right: 0px;
    width: 10px;
    background-color: blue;
    z-index: 20;
    position: absolute;
}
.badge-frame{
    height: 25rem;
    width: 70%;
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
}
.badge-frame iframe{
    height: 120%;
    width: 110%;
}
.badge-sample-cont{
    height: 10rem;
    width: 90%;
    margin-top: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #524ea1;
    padding: 1rem;
    margin-bottom: 1rem;
}
.text-badge{
    width: 95%;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.badge-comp{
    margin-left: 2rem;

}
.lg{
    font-size: 2rem;
}
.md{
    font-size: 1.5rem;
}
.sm{
    font-size: 1rem;
}
.rounded{
    height: 2.7rem;
    width: 6rem;
    background-color: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 8px;
}
.extra-rounded{
    height: 2rem;
    width: 4rem;
    background-color: rgb(82, 79, 79);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 20px;
}
.circle{
    height: 2rem;
    width: 2rem;
    background-color: salmon;
    letter-spacing: .5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .6rem;
    border-radius: 50%;
}











/* mobile  */
@media (max-width: 480px) {
    #badge{
        height:145rem;
    }
    .badge-sample-cont{
        border: none;
    }
    .tex-badge-cont-sec{
        margin-top: 8rem;
    }
    .lg{
        font-size: 1.2rem;
    }
    .md{
        font-size: 1rem;
    }
    .sm{
        font-size: .8rem;
    }
    .badge-sample-cont{
        width: 80%;
        margin-right: 12rem;
        background-color: rgb(255, 255, 255);
    }
    .rounded{
        height: 2rem;
        width: 4rem;
        font-size: 1rem;
     
    }
    .extra-rounded{
        height: 1.5rem;
        width: 3rem;
        font-size: 1rem;    }
    .circle{
        height: 1rem;
        width: 1rem;
        font-size: .5rem;
       
}
}

/* tablet */
@media (min-width: 481px) and (max-width: 810px) {

    #badge{
        height:120rem;
    }
    .badge-sample-cont{
        border: none;
    }
}
