#navigation {
  height: 70rem;
  width: 100%;
  padding: 2rem;
  background-color: var(--secondary--color);
  font-family: "Hind", sans-serif;
}
.navigation-sample-cont {
  height: 20rem;
  width: 90%;
  margin-top: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--primary--color);
}
.nav-style {
  border-radius: 10px;
  width: 80%;
  height: 5rem;
  background-color: var(--secondary-bg-color);
  display: flex;
  position: relative;
  box-shadow: 9px 9px 23px -15px var(--primary-black-color);
}



.e-navbar{
  width: 90%;
  height: 6rem;
  margin-top: 2rem;
  display: flex;
  box-shadow: 9px 9px 23px -15px var(--primary-black-color);
}
.e-nav-logo{
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font: 1.5em sans-serif;
  
}
.e-nav-search{
  height: 100%;
  display: flex;
  align-items: center;
  width: 35%;
  background-color: rgb(255, 255, 255);
}
.e-nav-buttons{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
}
.e-nav-buttons a{
  height: 3rem;
  width: 6rem;
  display: flex;align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font: 1.2em sans-serif;
  background-color: rgb(101, 101, 109);
}
.nav-icon{
  font-size: 1.5rem;
  color: rgb(82, 79, 79);
}
.e-nav-buttons-cons{
  position: relative;
}
.e-nav-buttons-cons::before{
  content: "0";
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  font-size: .8rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: red;
  color: white;
}










/* mobile  */
@media (max-width: 480px) {
  .navigation-sample-cont {
    border: none;
  }
  .e-nav-logo{
    font-size: 1.2rem;
}
.e-nav-buttons-cons{
    display: none;
}
.e-nav-search{
    display: none;
}
.e-nav-buttons{
    width: 100%;
    margin-right: 2rem;
    justify-content: flex-end;
}
}

/* tablet */
@media (min-width: 481px) and (max-width: 810px) {
  .navigation-sample-cont {
    border: none;
  }
  .e-nav-logo{
    font-size: 1.2rem;
}
.e-nav-buttons-cons{
    display: none;
}
.e-nav-search{
    display: none;
}
.e-nav-buttons{
    width: 100%;
    margin-right: 2rem;
    justify-content: flex-end;
}
}
